<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chronometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content *ngIf="display">
      <ion-item>
        <ion-buttons>
          <ion-button slot="start" (click)="run(chronometer, chronometer.status === 2 ? 1 : 2)">
            {{ chronometer.status === 2 ? 'Pause' : 'Start' }}
          </ion-button>
          <ion-button slot="end" (click)="run(chronometer, 4)">
            Restart
          </ion-button>
        </ion-buttons>
        <ion-title (click)="refresh(chronometer)">
          Time: <b [chronometer]="chronometer" [chronoEvents]=false (onChronoEvent)="onChronoEvent($event)"></b>
        </ion-title>
      </ion-item>
      <p style="margin-left: 17px;">
          maxHour: {{ chronometer.maxHour | json }},
          maxMinute: {{ chronometer.maxMinute | json }},
          maxSecond: {{ chronometer.maxSecond | json }}
        </p>
      <div *ngFor="let c of chronometers">
        <ion-item>
          <ion-buttons>
            <ion-button slot="start" (click)="run(c, c.status === 2 ? 1 : 2)">
              {{ c.status === 2 ? 'Pause' : 'Start' }}
            </ion-button>
            <ion-button slot="end" (click)="run(c, 4)">
              Restart
            </ion-button>
          </ion-buttons>
          <ion-title>
            Time: <b [chronometer]="c"></b>
          </ion-title>
        </ion-item>
        <p style="margin-left: 17px;">
          maxHour: {{ c.maxHour | json }},
          maxMinute: {{ c.maxMinute | json }},
          maxSecond: {{ c.maxSecond | json }},
          {{ c.limitSecond ? 'limitSecond ' + c.limitSecond : '' }}
        </p>
      </div>
      <!--ion-button (click)="unsubcribeAll()">
        UnsubcribeAll
      </ion-button-->
    </ion-card-content>
  </ion-card>
</ion-content>