<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chronometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-item>
        <ion-buttons>
          <ion-button slot="start" (click)="run(chronometer, chronometer.status === 2 ? 1 : 2)">
            {{ chronometer.status === 2 ? 'Pause' : 'Start' }}
          </ion-button>
          <ion-button slot="end" (click)="run(chronometer, 4)">
            Restart
          </ion-button>
        </ion-buttons>
        <ion-title>
          Time: <b [chronometer]="chronometer"></b>
        </ion-title>
      </ion-item>
      <p style="margin-left: 17px;">
          rangeHour: {{ chronometer.rangeHour | json }},
          rangeMinute: {{ chronometer.rangeMinute | json }},
          rangeSecond: {{ chronometer.rangeSecond | json }}
        </p>
      <div *ngFor="let c of chronometers">
        <ion-item>
          <ion-buttons>
            <ion-button slot="start" (click)="run(c, c.status === 2 ? 1 : 2)">
              {{ c.status === 2 ? 'Pause' : 'Start' }}
            </ion-button>
            <ion-button slot="end" (click)="run(c, 4)">
              Restart
            </ion-button>
          </ion-buttons>
          <ion-title>
            Time: <b [chronometer]="c"></b>
          </ion-title>
        </ion-item>
        <p style="margin-left: 17px;">
          rangeHour: {{ c.rangeHour | json }},
          rangeMinute: {{ c.rangeMinute | json }},
          rangeSecond: {{ c.rangeSecond | json }}
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>